fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
reportlab
requests
google-generativeai
python-multipart
bcrypt
PyMuPDF
python-docx
bs4
argon2-cffi
