fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
pydantic-settings
email-validator
python-jose
passlib[bcrypt]
reportlab
requests
google-generativeai
beautifulsoup4
lxml
spacy
python-multipart
bcrypt
sentence-transformers
boto3
PyMuPDF
python-docx